html 
  head 
    title=title
  body 
    h1=signUp 
    form(class="signUp" action="api/login" method="GET")
      p
        label(for="firstName")="First name" 
        br
        input(type="text" name="firstName")
      p 
        label(for="lastName")="Last name" 
        br
        input(type="text" name="lastName")
      p
        label(for="email")="Email" 
        br
        input(type="email" name="email" required)
      p
        label(for="password")="Password" 
        br
        input(type="password" name="password" required)
      p 
        button(type="submit")="Submit" 